<form *ngIf="userId" [formGroup]="enrollmentForm">
  <p>
    <label>Fraktion:</label>
    <label>
      <input type="radio" formControlName="faction" value="arf" />
      ARF
    </label>
    <label>
      <input type="radio" formControlName="faction" value="sword" />
      SWORD
    </label>
  </p>
  <p>
    Teilnahme:
    <label>
      <input type="radio" formControlName="status" value="yes" />
      Yes
    </label>
    <label>
      <input type="radio" formControlName="status" value="no" />
      Nein
    </label>
    <label>
      <input type="radio" formControlName="status" value="maybe" />
      Vielleicht
    </label>
  </p>
  <p>
    <label
      >Kommentar:
      <input formControlName="comment" />
    </label>
  </p>
</form>
