<form *ngIf="enrollment" [formGroup]="enrollmentForm">
  <p>
    <label>Fraktion:</label>
    <label>
      <input type="radio" formControlName="factionId" value="arf" />
      <span class="faction-arf">ARF</span>
    </label>
    <label>
      <input type="radio" formControlName="factionId" value="sword" />
      <span class="faction-sword">SWORD</span>
    </label>
  </p>
  <p>
    Teilnahme:
    <label>
      <input type="radio" formControlName="status" value="yes" />
      Ja<mat-icon>check_circle_outline</mat-icon>
    </label>
    <label>
      <input type="radio" formControlName="status" value="no" />
      Nein<mat-icon>highlight_off</mat-icon>
    </label>
    <label>
      <input type="radio" formControlName="status" value="maybe" />
      Vielleicht<mat-icon>help_outline</mat-icon>
    </label>
  </p>
  <p>
    <label
      >Kommentar:
      <input formControlName="comment" />
    </label>
  </p>
</form>

