<div class="mat-sidebar-content" cdkDropListGroup>
  <section>
    <h2>Neue Rekruten</h2>
    <div
      cdkDropList
      [cdkDropListData]="recruitPlayers"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of recruitPlayers" cdkDrag>{{item}}</div>
    </div>
  </section>
  <section *ngFor="let faction of factionPlayers | keyvalue">
    <h2>ARF</h2>
    <div
      cdkDropList
      [cdkDropListData]="recruitPlayers"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of recruitPlayers" cdkDrag>{{item}}</div>
    </div>
  </section>
  <section>
    <h2>SWORD</h2>
  </section>
  <section>
    <h2>Inaktive Spieler</h2>
    <div
      cdkDropList
      [cdkDropListData]="inactivePlayers"
      (cdkDropListDropped)="drop($event)">
      <div *ngFor="let item of inactivePlayers" cdkDrag>{{item}}</div>
    </div>
  </section>
</div>
