<div class="mat-sidebar-content" cdkDropListGroup>
  <section>
    <h2>Neue Rekruten</h2>
    <div
      cdkDropList
      [cdkDropListData]="recruitPlayers"
      (cdkDropListDropped)="drop($event)">
      <opt-player-card *ngFor="let recruitPlayer of recruitPlayers" cdkDrag [player]="recruitPlayer"></opt-player-card>
    </div>
  </section>
  <section *ngFor="let item of playersByFaction | keyvalue">
    <h2>{{item.key}}</h2>
    <div
      cdkDropList
      [cdkDropListData]="recruitPlayers"
      (cdkDropListDropped)="drop($event)">
      <opt-player-card *ngFor="let factionPlayer of item.value" cdkDrag [player]="factionPlayer"></opt-player-card>
    </div>
  </section>
  <section>
    <h2>Inaktive Spieler</h2>
    <div
      cdkDropList
      [cdkDropListData]="inactivePlayers"
      (cdkDropListDropped)="drop($event)">
      <opt-player-card *ngFor="let inactivePlayer of inactivePlayers" cdkDrag [player]="inactivePlayer"></opt-player-card>
    </div>
  </section>
</div>
