mat-toolbar {
  align-items: flex-end;
  flex-wrap: wrap;
  height: auto;
}

nav {
  border-bottom: 0;
}

.themeToggle {
  display: flex;
  align-items: center;
}

.spacer {
  flex: 1 1 0;
}

.opt4-logo {
  // #fbfffc
  filter: invert(100%) sepia(62%) saturate(146%) hue-rotate(52deg)
    brightness(102%) contrast(102%);
  height: 100%;
  max-height: 80px;
}

:host-context(.theme-alternate) .opt4-logo {
  filter: invert(17%) sepia(1%) saturate(0%) hue-rotate(337deg) brightness(100%)
    contrast(85%);
}
