<p>
  <a href="https://opt4.net/forum/index.php?thread/2939-du-m%C3%B6chtest-mitspielen/">
    Noch keine Fraktion? - Du möchtest mitspielen!
  </a>

</p>

<p>Fraktion: {{enrollment.faction}}</p>

<form [formGroup]="enrollmentForm">
  <p>
    Teilnahme:
    <label>
      <input type="radio" name="status" value="yes"/>
      Yes
    </label>
    <label>
      <input type="radio" name="status" value="no"/>
      Nein
    </label>
    <label>
      <input type="radio" name="status" value="maybe"/>
      Vielleicht
    </label>
  </p>
  <p>
  <label>Kommentar:
    <input name="comment">
  </label>
  </p>
</form>
