<mat-expansion-panel #expansionPanel expanded hideToggle>
  <mat-expansion-panel-header collapsedHeight="auto" expandedHeight="auto">
    <div class="wrapper">
      <!-- keep this div for correct wrapping -->
      <img
        alt="Fraktions Avatar"
        class="factionImage mat-elevation-z1"
        src="/assets/{{ factionId }}_flag_autoscaled.jpg"
      />
      <p class="header-title mat-display-1">
        <span>{{ factionId }}</span
        >&nbsp; <span matTooltip="yes">{{ counts.yes }}</span
        >&nbsp;
        <span matTooltip="maybe">(+{{ counts.maybe }})</span>
        <span class="spacer"></span>
        <button disableRipple mat-icon-button>
          <mat-icon [@indicatorRotate]="expansionPanel._getExpandedState()"
            >expand_more
          </mat-icon>
        </button>
      </p>
    </div>
  </mat-expansion-panel-header>
  <div class="playerCards">
    <div
      *ngFor="
        let enrollment of battleEnrollments$ | async;
        trackBy: enrollmentTrackBy
      "
      class="playerCard"
      [matTooltip]="enrollment.status"
    >
      <img
        [src]="enrollment.photoUrl"
        alt="Spieler Avatar"
        class="avatar mat-elevation-z3"
      />
      <div class="title faction-{{ enrollment.factionId }}">
        <span class="mat-subheading-1">
          {{ enrollment.displayName }}
        </span>
      </div>
      <mat-icon class="status">
        {{ enrollmentStatusIconMap[enrollment.status] }}
      </mat-icon>
      <div class="comment">
        <span class="mat-small">{{ enrollment.comment }}</span>
      </div>
    </div>
  </div>
</mat-expansion-panel>
