.mat-expansion-panel-header {
  flex-direction: column;
  align-items: stretch;
  padding: 0;

  .header-title {
    display: flex;
    margin: 8px 16px;
  }

  .wrapper {
    width: 100%;
  }
}

.factionImage {
  width: 100%;
  height: 120px;
  object-fit: cover;
}

.playerCards {
  display: flex;
  flex-wrap: wrap;

  .playerCard {
    margin: 0.33rem;

    display: grid;
    grid-template-areas:
      "avatar avatar title    title    title    title"
      "avatar avatar subtitle subtitle subtitle subtitle";

    .avatar {
      margin: 8px;
      border-radius: 50%;
      grid-area: avatar;
      height: 32px;
    }

    .title {
      margin: 0;
      grid-area: title;
    }

    .subtitle {
      margin: 0;
      grid-area: subtitle;
      color: var(--text-primary-darker-color);
    }

    .mat-badge-small .mat-badge-content {
      width: min-content;
      padding: 0 0.6rem;
      border-radius: 8px;
    }
  }
}
