<mat-card>
  <img
    alt="Fraktions Avatar"
    mat-card-image
    src="/assets/{{ factionId }}_flag_autoscaled.jpg"
  />
  <mat-card-header (click)="toggle()" class="factionCard">
    <mat-card-title>
      <span>{{ factionId }} </span>
      <span matTooltip="yes">{{ counts.yes }} </span>
      <span matTooltip="maybe">(+{{ counts.maybe }})</span>
    </mat-card-title>
    <span class="spacer"></span>
    <button disableRipple mat-icon-button>
      <mat-icon
        [@indicatorRotate]="getExpandedState()"
        class="expansion-indicator"
      >
        expand_more
      </mat-icon>
    </button>
  </mat-card-header>

  <mat-card-content
    [@bodyExpansion]="getExpandedState()"
    [class.expanded]="expandedChange | async"
  >
    <mat-card-header
      *ngFor="let enrollment of battleEnrollments"
      class="playerCard"
    >
      <img [src]="enrollment.photoUrl" alt="Spieler Avatar" mat-card-avatar />
      <mat-card-title
        [matBadge]="enrollment.factionId"
        class="faction-{{ enrollment.factionId }}"
        matBadgeSize="small"
      >
        {{ enrollment.displayName }}
      </mat-card-title>
      <mat-card-subtitle>
        {{ enrollment.status }}: {{ enrollment.comment }}
      </mat-card-subtitle>
    </mat-card-header>
  </mat-card-content>
</mat-card>
