<h1>{{ campaignName }}</h1>
<div class="battles">
  <ng-container *ngFor="let battle of battles">
    <a
      [color]="isActive(battle) ? 'primary' : null"
      [ngClass]="{
        'mat-stroked-button': !isActive(battle),
        'mat-raised-button': isActive(battle)
        }"
      [routerLink]="['/battle', battle.battleId]"
      mat-button
    >
      <span class="battleDate">{{ battle.battleDate | date }}</span>
      <span class="battleName">{{ battle.battleName }}</span>
      <opt-faction-score [faction]="battle.factions[0]"></opt-faction-score>
      :
      <opt-faction-score [faction]="battle.factions[1]" reverse></opt-faction-score>
    </a>
  </ng-container>
</div>


<router-outlet></router-outlet>
