.statusButtonLabel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  .mat-icon {
    margin-right: 0.25rem;
    margin-bottom: 2px; // more visually centered in vertical axis
  }
}
