<svg
  fill="none"
  viewBox="0 0 4121 4096"
  preserveAspectRatio="xMidYMid meet"
  xmlns="http://www.w3.org/2000/svg"
>
  <ng-container *ngFor="let sector of sectors">
    <path
      #sector
      (click)="onClick($event, sector)"
      [attr.d]="sector.path"
      [attr.id]="sector.sectorId"
      [matTooltip]="sector.sectorName"
      [matTooltipDisabled]="disabled"
      [ngClass]="[
        sector.occupant,
        'sector',
        sector.selected || sector.sectorId === selectedSector ? 'selected' : '',
        sector.disabled ? 'disabledSector' : '',
        disabled ? 'disabledHover' : ''
      ]"
    ></path>
  </ng-container>
</svg>
