@import "material.style";

body {
  --arf-color: rgb(9, 90, 172);
  --sword-color: rgb(255, 95, 0);
}

html,
body {
  height: 100%;
  margin: 0;
}

.faction {
  &-arf {
    color: var(--arf-color);
  }

  &-sword {
    color: var(--sword-color);
  }
}
