:host {
  display: flex;
  flex-direction: column;
  grid-gap: 2.3em;
  margin-top: 16px;
  align-content: space-around;
  align-items: stretch;
}
.row {
  display: flex;
  justify-content: center;
  align-content: stretch;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: stretch;

  $section-margin: 0.5rem;
  > section {
    flex: 1 1 auto;
    margin: $section-margin $section-margin * 4;
  }

  &.enrollments {
    .enrollmentHeader {
      margin-bottom: -1 * $section-margin;
      flex: 1 1 100%;
    }
    .enrollment {
      flex: 1 1 44%; // rough estimate to split into 2 columns
    }
  }
}

opt-sector-select {
  display: block;
  width: 100px;
  height: 100px;
}
