<ng-container *ngIf="battle$ | async as battle">
  <section class="battleMeta">
    <span class="mat-display-1">{{ battle.campaignName }}</span>
    <h2 class="mat-display-2">{{ battle.battleName }}</h2>
    <mat-card class="mat-elevation-z0">
      Schlachttag: {{ battle.battleDate | date }}<br />
      Briefing: {{ battle.battleDate | date: "shortTime" }} Uhr<br />
      Spielzeit: {{ battle.battleDuration | duration }} Minuten
    </mat-card>
  </section>

  <section class="enrollments">
    <h3 class="mat-display-3">Anmeldung</h3>
    <opt-battle-enrollments
      *ngFor="let faction of battle.factions"
      [battleId]="battle.battleId"
      [factionId]="faction.factionId"
    ></opt-battle-enrollments>
  </section>

  <ng-container *ngIf="battle.factions">
    <h3>Wahl der Seite</h3>
    <p *ngFor="let faction of battle.factions">
      {{ faction.factionName }} spielt die {{ faction.factionSide }}
    </p>

    <h3>Wahl des Sektors</h3>
    <p *ngFor="let faction of battle.factions">
      {{ faction.factionName }} greift Sektor
      {{ faction.factionAttackingSector }} an
    </p>
  </ng-container>

  <button class="mat-elevation-z1" mat-button matTooltip="Sektorenkarte öffnen">
    <opt-sector-select
      (click)="openSectorSelectDialog()"
      [disabled]="true"
    ></opt-sector-select>
  </button>

  <h3>Verbrannte Sektoren</h3>
  // TODO

  <h3>Wetterbericht</h3>
  <p>{{ battle.weather }}</p>

  <h2>Technik &amp; Co.</h2>
  <ul>
    <li>
      <a
        href="https://opt4.net/forum/index.php?thread/4851-fairplay-leitfaden/"
      >
        Fairplay Leitfaden
      </a>
    </li>
    <li>
      <a href="https://opt4.net/forum/index.php?thread/8-opt4-server-ips/">
        OPT4-Teamspeak
      </a>
      ts3.opt4.net
    </li>
    <li>
      <a href="https://opt4.net/forum/index.php?thread/8-opt4-server-ips/">
        OPT4-Server-IPs
      </a>
    </li>
    <li>
      <a
        href="https://opt4.net/forum/index.php?thread/1214-unsere-aktuellen-server-versionen/"
      >
        "Unsere aktuellen Server-Versionen"
      </a>
    </li>
    <li>
      <a
        href="https://docs.google.com/document/d/1CxqtbaIv9ZjSiWZbnSsAOiK3QQ9yl2W4xie6wabF0aI"
      >
        Aktuelles Kampagnendokument
      </a>
    </li>
  </ul>
  <h3>Punktestand</h3>
  <a href="https://stats.opt4.net:2021/campaigns.html">
    https://stats.opt4.net:2021/campaigns.html
  </a>
</ng-container>
